@{

    Layout = null;

}

<!DOCTYPE html>
<html lang="en" class="no-js">


<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Okan Oğuz TEKBAŞ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="BreezyCV - Resume / CV / vCard Template" />
    <meta name="keywords" content="vcard, resposnive, retina, resume, jquery, css3, bootstrap, Material CV, portfolio" />
    <meta name="author" content="lmpixels" />

    <link rel="shortcut icon" href="favicon.ico">


    <link rel="stylesheet" href="/Client/css/reset.css" type="text/css">
    <link rel="stylesheet" href="/Client/css/bootstrap-grid.min.css" type="text/css">
    <link rel="stylesheet" href="/Client/css/animations.css" type="text/css">
    <link rel="stylesheet" href="/Client/css/perfect-scrollbar.css" type="text/css">
    <link rel="stylesheet" href="/Client/css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="/Client/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/Client/css/main.css" type="text/css">
    @*<script src="https://www.google.com/recaptcha/api.js"></script>*@
    <link href="/Admin/assets/bower_components/toastr/toastr.min.css" rel="stylesheet" />
    @RenderSection("Head", false)

    <script src="/Client/js/modernizr.custom.js"></script>
</head>

<body>

    <div style="position:fixed; top:20px; right:40px;"> 
        <a href="@Url.Action("Index","Admin")">
           Yönetim <i class="fa fa-user" aria-hidden="true"></i>
        </a>
    </div>

    <!-- Animated Background -->
    <div class="lm-animated-bg" style="background-image: url(/Client/img/main_bg.png);"></div>
    <!-- /Animated Background -->
    <!-- Loading animation -->
    <div class="preloader">
        <div class="preloader-animation">
            <div class="preloader-spinner">
            </div>
        </div>
    </div>
    <!-- /Loading animation -->

    <div class="page">
        <div class="page-content">

            <header id="site_header" class="header mobile-menu-hide">
                <div class="header-content">
                    <div class="header-photo">
                        <img src="/Client/img/oguz.jpg" alt="Alex Smith">
                    </div>
                    <div class="header-titles">
                        <h2>Okan Oğuz Tekbaş</h2>
                        <h4>Web Developer</h4>
                    </div>
                </div>

                @RenderSection("Menu", false)

                <div class="social-links">
                    <ul>
                        <li>Linked</li>
                        <li><a href="https://tr.linkedin.com/in/okan-o%C4%9Fuz-tekba%C5%9F-7a470314b" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                        <li>Github</li>
                        <li><a href="https://github.com/oguztekbas" target="_blank"><i class="fab fa-github"></i></a></li>
                        
                        @*<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>*@
                    </ul>
                </div>

                <div class="header-buttons">
                    <a href="#about-me"  class="btn btn-primary">CV</a>
                </div>

                <div class="copyrights">© 2020 Tüm Hakları Saklıdır.</div>
            </header>

            <!-- Mobile Navigation -->
            <div class="menu-toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <!-- End Mobile Navigation -->
            @RenderBody()

        </div>
    </div>


    <script src="/Client/js/jquery-2.1.3.min.js"></script>
    <script src="/Client/js/modernizr.custom.js"></script>
    <script src="/Client/js/animating.js"></script>

    <script src="/Client/js/imagesloaded.pkgd.min.js"></script>


    <script src='/Client/js/perfect-scrollbar.min.js'></script>
    <script src='/Client/js/jquery.shuffle.min.js'></script>
    <script src='/Client/js/masonry.pkgd.min.js'></script>
    <script src='/Client/js/owl.carousel.min.js'></script>
    <script src="/Client/js/jquery.magnific-popup.min.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrDf32aQTCVENBhFJbMBKOUTiUAABtC2o"></script>
    <script src="/Client/js/jquery.googlemap.js"></script>
    <script src="/Client/js/validator.js"></script>
    <script src="/Client/js/main.js"></script>
    <script src="/Admin/assets/bower_components/toastr/toastr.min.js"></script>


    @RenderSection("Scripts", false)

</body>

<!-- Mirrored from lmpixels.com/demo/breezycv/light/1/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 02 Oct 2020 13:32:00 GMT -->
</html>
