
@model EntityLayer.ORM.Entity.Blog

@{
    ViewData["Title"] = "BlogSingle";
    Layout = "~/Views/Shared/_Layout.cshtml";
    System.Globalization.CultureInfo ci = new System.Globalization.CultureInfo("tr-TR");
}


<div class="content-area single-page-area">
    <div class="single-page-content">

        <article class="post">

            <div class="post-thumbnail">
                <img src="@Model.BlogImagePath" alt="@Model.BlogName">
            </div>

            <div class="post-content">
                <!-- /Entry header -->
                <header class="entry-header">
                    <!-- Entry meta -->
                    <div class="entry-meta entry-meta-top">
                        <span><a href="#" rel="category tag">@Model.BlogCategoryName</a></span>
                    </div>
                    <!-- /Entry meta -->

                    <h2 class="entry-title">@Model.BlogName</h2>
                </header>
                <!-- /Entry header -->
                <!-- Entry content -->
                <div class="entry-content">
                    <div class="row">
                        <div class=" col-xs-12 col-sm-12 ">
                            <div class="col-inner">
                                @Html.Raw(Model.BlogContent)
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Entry content -->

                <div class="entry-meta entry-meta-bottom">
                    <div class="date-author">
                        <span class="entry-date">
                            <a href="#" rel="bookmark">
                                <i class="far fa-clock"></i> <span class="entry-date"> @(Model.BlogPostDate.ToString("dd MMMM yyyy", ci))</span>
                            </a>
                        </span>
                        <span class="author vcard">
                            <a class="url fn n" href="#" rel="author"> <i class="fas fa-user"></i> @Model.BlogAuthor</a>
                        </span>
                    </div>

                    <!-- Share Buttons -->
                    <div class="entry-share btn-group share-buttons">
                        
                        <a href="https://tr.linkedin.com/in/okan-o%C4%9Fuz-tekba%C5%9F-7a470314b" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" class="btn" target="_blank" title="Share on Facebook">
                            <i class="fab fa-linkedin-in"></i>
                        </a>

                        <a href="https://github.com/oguztekbas" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" class="btn" target="_blank" title="Share on Twitter">
                            <i class="fab fa-github"></i>
                        </a>

                       
                    </div>
                    <!-- /Share Buttons -->
                </div>

                <div class="post-tags">
                    <div class="tags">
                        @foreach (var blogtag in Model.BlogTags)
                        {
                            <a href="#" rel="tag">@blogtag.BlogTagName</a>
                        }

                       
                    </div>
                </div>
            </div>
        </article>

    </div>
</div>

@section Menu{ 


    <ul class="main-menu">
        <li class="active">
            <a href="@Url.Action("Index","Home")" class="nav-anim">
                <span class="menu-icon lnr lnr-home"></span>
                <span class="link-text">Anasayfa</span>
            </a>
        </li>
      
    </ul>

}


